<h1 class="h1_form">Total<span>34</span><i class="fa fa-lock"></i></h1>
<div id="container">
  <form method="post">
    <p class="p_form">
      <label>Name On Card</label>
      <input type="text" name="cardname" placeholder="Super Awesome Customer"/>
    </p>
    <p class="p_form">
      <label>Card Number</label>
      <input type="number" name="cardnumber" placeholder="1234 5678 9012 3456"/>
    </p>
    <p class="p_form">
      <label>Billing Zip Code</label>
      <input type="number" name="zipcode" placeholder="12345"/>
    </p class="p_form">
    <p>
      <label>Direction</label>
      <input type="text" name="direction" placeholder="San José, Costa Rica Urbanización Tournón "/>
    </p>
    <p class="p_form">
      <label>Password</label>
      <input type="password" name="pass" placeholder="Enter your user password"/>
    </p>
    <input type="submit" value="Submit Payment"/>
  </form>
</div>
