<div ng-controller="userProfileController">
    <div class="container-fluid user-bg"></div>
    <div class="user-intro">
        <div class="user-portrait"><img src="http://www.gratisography.com/pictures/303_1.jpg"/></div>
    </div>
    <div class="content-container top-adjustment">
        <div class="user-info">
            <p class="name lead">Emma</p>
            <div class="bg-wrapper">
                <p>Photographer</p>
                <div class="bg-opacity"></div>
            </div>
            <div class="bg-wrapper">
                <p>emma@gmail.com</p>
                <div class="bg-opacity"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="cards-container">
                        <div class="card"></div>
                        <div class="card card-medium"></div>
                        <div class="card"></div>
                        <div class="card card-medium"></div>
                        <div class="card card-medium"></div>
                        <div class="card"></div>
                        <div class="card card-large"></div>
                        <div class="card card-large"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-full-view">
                        <div class="title-card">
                            <h6>Lorem Ipsum</h6>
                        </div>
                        <div class="content-card"><img src="https://assets.entrepreneur.com/content/16x9/822/1409156187-this-one-word-will-always-stifle-creativity.jpg"/>
                            <div class="description">
                                <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                            <div class="footer-card"><span>By Kevin Arrieta</span>
                                <div class="card-actions"><i aria-hidden="true" class="fa fa-heart"></i><i aria-hidden="true" class="fa fa-facebook"></i><i aria-hidden="true" class="fa fa-twitter"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>